<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VIDEO.MA | Annonce detaille</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../../css/scrolling-nav.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">
    <link href="../../css/costume.css" rel="stylesheet">
    <link href="../../css/minimale.css" rel="stylesheet">
    <link href="../../css/editor.css" rel="stylesheet">
    <link href="../../css/dropzone.css" rel="stylesheet">
    <link href="../../css/jquery.tags.min.css" rel="stylesheet">
    <link href="../../css/select2.min.css" rel="stylesheet">
    <link href="../../css/skin-costum.css" rel="stylesheet">
    <link href="../../css/flaticon.css" rel="stylesheet">
    <link href="../../css/video_player.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <style type="text/css">
        .col-sm-4.col-md-4.col-xs-12.no-padding{
          float: left;
          position: relative; 
          min-height: 1px; 
          padding: 5px;
          font-family : 'Source Sans Pro', sans-serif;
        }
       .col-sm-4.col-md-4.col-xs-12.no-padding{
          float: left;
          position: relative; 
          min-height: 1px; 
          padding: 5px;
          font-family : 'Source Sans Pro', sans-serif;
        }
        .list-info-car{
          width: 100%;
          margin: 0px !important;
        }
        .list-info-car .list-info-content{
          padding: 12px;
          float: left;
          display: inline-grid;
          text-align: center;
          border: 1px #8080801f solid;
        }
        .list-info-car .list-info-content span{
          font-size: 51px;
        }
        .list-info-car .list-info-content i{
          font-size: 21px;
          font-style: inherit;
          color: #777 !important;
        }
        .list-detail-car{
            display: block;
            width: 100%;
            margin: 10px;
        }
        .list-detail-car li{

        }
        .list-group-item a ,.card-link{
            color: #0c0a0a;
        }
    </style>
  </head>

  <body id="page-top" >
    <!-- head nav  -->
    <div class="_top-header" style="background-color: #454d56fc;">
      <div class="col sm-only _nav-top-info" >
        <div class="left" style="padding: 12px;float: left;word-spacing: 9px;display: inline-flex;">
          <div class="dropdown" style="margin-left : 3px; margin-right : 5px; ">
            <a href="" class="dropdown-toggle" type="button" id="dropdownMenuLANGAGE" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ENGLISH</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLANGAGE">
              <a class="dropdown-item" href="#">FRENCH</a>
              <a class="dropdown-item" href="#">ARABIC</a>
            </div>
          </div>  
          <div class="dropdown" style="margin-left : 5px; margin-right : 3px; ">
            <a href="" class="dropdown-toggle" type="button" id="dropdownMenuCURRENCY" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CURRENCY (MAD)</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuCURRENCY">
              <a class="dropdown-item" href="#">DIRHAMS MAD</a>
              <a class="dropdown-item" href="#">US DOLLAR USD</a>
              <a class="dropdown-item" href="#">EURO </a>
            </div>
          </div>          
        </div>
        <div class="social" style="float: right;word-spacing: 5px; padding: 12px;">

           <a href="">
            HELP
           </a>
           <span style="color: white;">|</span>
           <a href="">
            ABOUTS US
           </a> 
           <span style="color: white;">|</span>
           <a href="" style="margin-right: 15px;">
            CONTACT US
           </a> 

          <a href="" style=" padding-left: 5px;padding-right: 5px;">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" style=" padding-left: 5px;padding-right: 5px;">
            <i class="fab fa-facebook"></i>
          </a> 
          <a href="" style=" padding-left: 5px;padding-right: 5px;">
            <i class="fab fa-youtube"></i>
          </a> 
          <a href="" style=" padding-left: 5px;padding-right: 5px;">
            <i class="fab fa-google"></i>
          </a> 
        </div> 
      </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav" >
      <div class="container" style="margin: 0px; width: 72%;">
        <a class="navbar-brand  js-scroll-trigger" href="/">
          <img src="../../img/logo.svg" width="230" height="50" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="margin-left: 20px !important;">
            <li class="nav-item">
              <a class="nav-link" href="/">
                HOME
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new">
                NOUVEAU
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inventory">
                INVENTAIRE
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pro">
                PRO
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="prices">
                PRIX
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">
                GÉRER VOS ANNONCES
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div style="postion: relative;">

        <a href="#" class="up-user-face">
          <img src="../../img/faces.jpg" class="user-face">
        </a> 

        <div class="login-nav">
          <% if ( user !== undefined || user !== null) { %>
            <form method="post" style="width: 222px;">
              <div class="form-group">
                <h4 style="font-size: 14px;">Bienvenu</h4>
              </div>
            </form>
          <% } else { %>    
         
            <form method="post">
                <div class="form-group">
                  <h4 style="font-size: 14px;">Login or E-mail</h4>
                  <input type="text" name="stm_user_login" autocomplete="off" placeholder="Enter login or E-mail" style="    padding-left: 8px;height: 40px;line-height: 40px;">
                </div>

                <div class="form-group">
                  <h4 style="font-size: 14px;">Password</h4>
                  <input type="password" name="stm_user_password" autocomplete="off" placeholder="Enter password" style="    padding-left: 8px;height: 40px;line-height: 40px;">
                </div>

                <div class="form-group form-checker">
                  <label style="float: left;display: inline; width: 100%;">
                    <div class="checker">
                      <span style="float: left;margin-bottom: 10px;">
                        <input type="checkbox" name="stm_remember_me" style="opacity: 1;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;">
                      </span>
                    </div>
                    <span style="padding: 10px;">Remember me</span>
                  </label>
                </div>
                <span class="stm-listing-loader"><i class="stm-icon-load1"></i></span>
                <a href="h" class="logBtn" style="">Login</a>
                <a href="h" class="logBtn" style="background: transparent; color: #f17f18 !important;">Sign Up</a>
                <div class="stm-validation-message"></div>
            </form>              
          <% } %> 
        </div>  
      </div>    
      <a href="/cars/add" class="actionNew">
          <div style="padding: 2px;">
            <i class="fa fa-car" style="font-size: 20px;margin-right: 7px;"></i>
            AJOUTER UNE ANNONCE           
          </div>
      </a>      
    </nav> 
 
    <div  class="bg-light">
      <div class="page-header-area-2 ">
        <div class="container">
          <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="small-breadcrumb">
                   <div class="breadcrumb-link">
                      <ul>
                          <li>                       
                               <a href="">
                                  Home 
                              </a>
                          </li>
                          <li class="active">
                              <a href="" class="active">
                                  Annonce ID : <%= ads.id %>                        
                              </a>
                          </li>
                     </ul>
                   </div>                  
                </div>
             </div>
          </div>
        </div>
      </div>  
      <div class="" style="width: 90%;margin: auto;">
        <div class="pricing-area row">
          <div class="col-lg-9 col-md-9 col-xs-12 col-sm-8">
            <div class="heading-zone">
              <h1><%= ads.manufactueyear %> <%= ads.title %></h1>
              <div class="short-history">
                  <ul>
                  <li><b><%= ads.date_publication %></b></li>
                  <li>
                    Category: 
                    <b>
                    <a href="" style="color: black;"><%= ads.marque %> </a>
                    <a href="" style="color: black;"><%= ads.model %> </a>
                    </b>
                  </li>
                  <li>Views: <b>1633</b></li>
                  </ul>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-4 detail_price col-xs-12">

            <div class="singleprice-tag">
               <%= ads.prix %>  DHS
            </div>
          </div>
        </div>
      </div>  
      <div class="" style="margin: 0px; color: #777777;">
        <div class="row">
          <!-- profile nav -->
          <div class="col-lg-3">

            <div class="content-box-grid margin-top-20" >
              <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_168662faf00%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_168662faf00%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.4375%22%20y%3D%2296.3375%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Annonceur Profil"> 


              <div class="card-body">
                <h5 class="card-title" style="color: #fc9632;font-weight: 600;"><%= ads.model %></h5>
                <h5 class="card-title">
                  <span class="fa fa-user"></span>
                  Annonceur : <%= ads.annoncor %>
                </h5>

                <h5 class="card-title">
                  <span class="fa fa-car"></span>
                  Constructeur : <%= ads.constructeur %>
                </h5>
                <h5 class="card-title">
                  <span class="fa fa-car"></span>
                  Marque : <%= ads.marque %>
                </h5>
                <h5 class="card-title">
                  <span class="fa fa-map-marker"></span> 
                  <%= ads.emplacement %> 
                </h5>
              </div>              
              <div class="card-body">
                <a href="tel:<%= annoncor.phone %>" class="card-link">Contact Téléphone</a>
                <a href="<%= annoncor.whatapp %>" class="card-link">Contact Whatsapp</a>
                <a href="#" class="card-link">Chat</a>
              </div>
            </div>
          </div>
          <!-- profile end nav -->
          <!-- ==================== -->
          <!-- Infor and list of ads -->
          <div class="col-lg-9">

            <div class="content-box-grid margin-top-20">
              <div style="width: 100%;height: 330px;overflow: -webkit-paged-x;">
                <a data-href="<%= ads.video %>" class="play-video" style="position: relative;opacity: 1;display: block;">                        
                  <img src="http://carspot.scriptsbundle.com/wp-content/uploads/2017/08/playbutton-u693-r.png" alt="Icon" style="width: 70px; ">
                </a>

                  <img style="height: 750px;box-sizing: initial;margin-top: -178px;" class="card-img-top" src="<%= (ads.video).replace('https://www.youtube.com/watch?v=','https://img.youtube.com/vi/')%>/0.jpg">
              </div>

              <div class="">
                <ul class="row list-info-car" >
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-dashboard-1 kilo-meter" style="color: #00a651;"></span>
                      <i ><%= ads.kilometrage %></i>
                  </li>
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-gas-station-1 petrol"  style="color: #ff5700;"></span>
                      <i><%= ads.carburant %></i>
                  </li>
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-cogwheel-outline car-color"  style="color: #e52d27;"></span>
                      <i><%= ads.colorcaroursserie %></i>
                  </li>
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-tool engile-capacity"  style="color: #0083c9;"></span>
                      <i><%= ads.puissancefiscal %></i>
                  </li>
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-calendar reg-year"  style="color: #785edd;"></span>
                      <i><%= ads.manufactueyear %></i>
                  </li>
                  <li class="col-lg-2 list-info-content" >
                      <span class="flaticon-gearshift transmission"  style="color: #e4405f;"></span>
                      <i><%= ads.tranmission %></i>
                  </li>
                </ul>
              </div>
            </div>
            <!-- INFO DETAILS Area -->
            <div class="">
              <div class="content-box-grid margin-top-20">
                <div class="short-features">
                  <!-- Heading Area -->
                  <div class="heading-panel">
                      <h3 class="main-title text-left">
                        Description                         
                      </h3>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Prix</strong> :</span>
                    <%= ads.prix %>  DHS
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Date</strong> :</span> <%= ads.date_publication %>                      
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Kilométrage</strong> :</span> <%= ads.date_publication %> KM
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Condition</strong> :</span> Utilisé
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Type</strong> :</span> À vendre
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Driving type</strong> :</span> <%= ads.drivetype %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Année</strong> :</span> <%= ads.manufactueyear %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Type Carosserie</strong> :</span> </span> <%= ads.bodytype %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Transmission</strong> :</span> <%= ads.transmission %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Puissance Fiscal</strong> :</span> <%= ads.puissancefiscal %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Carburant</strong> :</span> <%= ads.carburant %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Année dédounament</strong> :</span> <%= ads.dedouanementanne %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Color</strong> :</span> <%= ads.colorcaroursserie %>
                  </div>
                  <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                    <span><strong>Prix Vignette</strong> :</span> <%= ads.prixvignette %> DHS
                  </div>                        
                  <div class="col-sm-12 col-md-12 col-xs-12 location-exit no-padding">
                    <span><strong>Emplacement</strong> :</span>
                    <a href="" style="color: #777777;">  <%= ads.emplacement %></a>                      
                  </div>
                </div>
                <div class="desc-points">
                  <p><strong>Description : </strong><%= ads.description %></p>
                  <ol>
                    <li>
                      ABS 
                      <% if ( ads.abs == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>                     
                    </li>
                    <li>
                      Climatisation 
                      <% if ( ads.airconditioning == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>                     
                    </li>
                    <li>Assisté
                      <% if ( ads.powerstreering == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>  
                    </li>
                    <li>Radio FM/AM
                      <% if ( ads.amfmstereo == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>  
                    </li>
                    <li>Glacière
                      <% if ( ads.coolbox == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>  
                    </li>
                    <li>Caméra de recule
                      <% if ( ads.backupcamera == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>  
                    </li>
                    <li>Bluethoot
                      <% if ( ads.bluethoot == '1' ) { %> 
                        <span class="fa fa-check" style="color: green;"></span>
                      <% } else {  %> 
                        <span class="fa fa-check" style="color: red;"></span>
                      <% } %>  
                    </li>
                  </ol>
                  <p><strong>Consomation</strong> : <%= ads.consomation %> L/KM100</p>  
                </div>
                <div class="tags-share clearfix">
                  <div class="tags pull-left ">
                    <i class="fa fa-tags"></i>
                    <ul>
                      <li>
                        <a href="http://carspot.scriptsbundle.com/ad_tag/ford/" title="ford">
                            #<%= ads.marque %>                                
                        </a>
                      </li>
                      <li>
                        <a href="http://carspot.scriptsbundle.com/ad_tag/ranger/" title="ranger">
                            #<%= ads.model %>                                
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <!-- Infor and list of ads -->
        </div>
      </div>
    </div>

    <%- include( '../partials/footer') %>

    

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../js/scrolling-nav.js"></script>
    <script src="../../js/video_player.js"></script>

    <!-- Google Map  -->
    <script type="text/javascript">
      $("a.play-video").YouTubePopUp();

      $('.up-user-face').on('click',function(){
        if (!$('.login-nav').is(':visible')) {

          $(this).children().css('background',' #fc9632')
          $('.login-nav').show();
        }else{
          $(this).children().css('background','transparent')
          $('.login-nav').hide();
        }
      });

    </script>

  </body>

</html>
